
<div class='container'>
  <h1>Edit Note</h1>
  <form action='/edit' method='get'>
    Title: <input type="text" name="title" placeholder="Title" value="<%=@note.title%>"><br>
    Content: <input type="text" name="content" placeholder="Note" value="<%=@note.content%>">
    <input type="hidden" name="note_id" value=<%=@note.id%>>
    <input type="submit" value="Submit">
  </form>
</div>